.frame {
  position: relative;
  width: 100vw;
    background: #f5f5f5;
      background-size: cover;       /* Ensures image fills container */
  background-position: center;  /* Keeps image centered */
  background-repeat: no-repeat;
}
/* .frame .element {
  mix-blend-mode: color-burn;
  position: absolute;
  width: 100vw;
} */

.frame .group-wrapper {
  position: absolute;
  width: 100vw;
}

.frame .group-4 {
 left: 0;
  width: 100vw;
   position: absolute;
  
}
.frame .text-wrapper-3{
  text-align: center;
  width: 100vw;
  justify-content: center;
  top:250px;
}
.frame .group-3 {
  left: 0;
  bottom: 0;
  width: 100%;
   position: absolute;
}
.frame .frame2{
  mix-blend-mode: lighten;
  object-fit: cover;
    
}
.frame .bffgdg {
  /* mix-blend-mode: screen; */
  object-fit: cover;
  position: absolute;
  top:0%;
  left:65%;
}
.frame .sasd {
  object-fit: cover;
  /* mix-blend-mode: screen; */
  position: absolute;
  left:5%;
}
